{% extends 'base.html' %}
{% block content %}

<h1>Furniture Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
        <div class="card-content">
            {% for furniturephoto in furniture.furniturephoto_set.all %}
            <img class="responsive-img card-panel" src="{{furniturephoto.url}}">
            {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <span class="card-title">{{ furniture.furniture_type }}</span>
            <p>Price: {{ furniture.price }}</p>
            <p>Color: {{ furniture.color }}</p>
            <p>Length: {{ furniture.length }}</p>
            <p>Width: {{ furniture.width }}</p>
            <p>Height: {{ furniture.height }}</p>
            <p>Description: {{ furniture.description }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'furnitures_update' furniture.id %}">Edit Details</a>
            <a href="{% url 'furnitures_delete' furniture.id %}">Delete Furniture</a>
        </div>
        </div>

        <form action="{% url 'add_furniture_photo' furniture.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit" class="btn">Upload Photo</button>
        </form>

    </div>
    <div class="col s6">
      <form action = "{% url 'add_furniture_review' furniture.id %}" method="POST">
        {% csrf_token %}
        {{ furniture_review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Rating</th><th>Review</th></tr>
          </thead>
          <tbody>
            {% for furniturereview in furniture.furniturereview_set.all %}
              <tr>
                <td>{{furniturereview.rating}}</td>
                <td>{{furniturereview.description}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<script>
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);

    const descriptionEl = document.getElementById('id_description');
    M.updateTextFields(descriptionEl);
</script>

{% endblock %}
