{% extends 'base.html' %}
{% block content %}

<h1>Available Furniture</h1>

{% for furniture in furnitures %}
  <div class="card" id="card-content">
    {% for furniturephoto in furniture.furniturephoto_set.all %}
              <img class="responsive-img card-panel" src="{{furniturephoto.url}}">
              {% empty %}
              <div class="card-panel cyan-text center-align">No Photos Uploaded</div>
          {% endfor %}
    <a href ="{% url 'furniture_detail' furniture.id %}">
        <div class="card-content black-text">
            <span class="card-title">{{ furniture.furniture_type }}</span>
            <p>Price: {{ furniture.price }}</p>
            <p>Color: {{ furniture.color }}</p>
            <p>Length: {{ furniture.length }}</p>
            <p>Width: {{ furniture.width }}</p>
            <p>Height: {{ furniture.height }}</p>
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}