{% extends 'base.html' %}
{% block content %}

<h1>Available Furniture</h1>

{% for furniture in furnitures %}
  <div class="card">
    <a href ="{% url 'furniture_detail' furniture.id %}">
        <div class="card-content">
            <span class="card-title">{{ furniture.furniture_type }}</span>
            <p>Price: {{ furniture.price }}</p>
            <p>Color: {{ furniture.color }}</p>
            <p>Length: {{ furniture.length }}</p>
            <p>Width: {{ furniture.width }}</p>
            <p>Height: {{ furniture.height }}</p>
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}