{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if object %}
            {% if user.id == furniture.user.id %}
                <h1>Edit <span class="white-text">{{object.furniture_type}}</span></h1>
                <form action="" method="POST" id="form" class="white-text">
                    {% csrf_token %}
                    <table class="white-text">
                    {{ form.as_table }}
                    </table>
                <input type="submit" value="Submit!" class="btn">
                </form>
            {% else %}
                <h1>Access Restricted</h1>
            {% endif %}
        {% else %}
            <h1>Add Furniture</h1>
            <form action="" method="POST" id="form" class="white-text">
                {% csrf_token %}
                <table class="white-text">
                {{ form.as_table }}
                </table>
            <input type="submit" value="Submit!" class="btn">
            </form>
        {% endif %}
    {% endif %}

{% endblock %}

