{% extends 'base.html' %}
{% block content %}

<h1>Available Rentals</h1>

{% for rent in rents %}
  <div class="card" id="card-content">
    {% for rentphoto in rent.rentphoto_set.all %}
              <img class="responsive-img card-panel" src="{{rentphoto.url}}">
              {% empty %}
              <div class="card-panel cyan-text center-align">No Photos Uploaded</div>
          {% endfor %}
    <a href = "{% url 'rent_detail' rent.id %}">
        <div class="card-content black-text">
        <span class="card-title">{{ rent.address }}</span>
        <p>Monthly Price: ${{ rent.monthly_price }}</p>
        <p>Square Footage: {{ rent.square_footage }} sq ft</p>
        <p>Beds: {{ rent.beds }}</p>
        <p>Baths: {{ rent.baths }}</p>
        <p>Type of Home: {{ rent.home_type }}</p>
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
