{% extends 'base.html' %}
{% block content %}

<h1 id="index-title">Available Homes</h1>

{% for home in homes %}
    <div class="col s6">  
      <div class="card" id="card-content">
        {% for photo in home.photo_set.all %}
              <img class="responsive-img card-panel" src="{{photo.url}}">
              {% empty %}
              <div class="card-panel cyan-text center-align">No Photos Uploaded</div>
          {% endfor %}
          <a href = "{% url 'detail' home.id %}">
              <div class="card-content black-text">
              <span class="card-title">{{ home.address }}</span>
              <p>Price: ${{ home.price }}</p>
              <p>Square Footage: {{ home.square_footage }} sq ft</p>
              <p>Beds: {{ home.beds }}</p>
              <p>Baths: {{ home.baths }}</p>
              <p>Type of Home: {{ home.home_type }}</p>
              </div>
          </a>
        </div>
    </div>
{% endfor %}

{% endblock %}
